<div class="container">
  <div class="row">
    <div class="col col-social col-sm-5">
      <a href="https://www.facebook.com/pages/Samantha-Tanner-Design/129929500431540" class="_no-underline"><i class="icon icon-facebook"></i></a>
      <a href="https://www.instagram.com/sam_tanner/" class="_no-underline"><i class="icon icon-instagram"></i></a>
      {{!-- <a href="http://pinterest.com" class="_no-underline"><i class="icon icon-pinterest"></i></a> --}}
      &nbsp;<a href="mailto:sam@samtannerinteriors.com" class="serif">sam@samtannerinteriors.com</a>
    </div>
    <div class="col col-copyright col-sm-7">
      &copy;2015 {{ site.title | upcase }}. | <span class="serif">Site by</span> <a href="http://evablackdesign.com">EVA BLACK DESIGN</a>
    </div>
  </div>
</div>
