$black: #2b2e2f;
$charcoal: #626159;
$gray: #959690;
$light-gray: #c9c8c4;
$light-cream: #f9f9f6;
$tan: #b2a284;

$color1: steelblue;
$color2: lightslategray;

$headline-color: $charcoal;
$link-color: $color2;
$footer-bg-color: white;
$footer-color: $light-gray;
